<head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="/static/classic.css">
    <script src="https://unpkg.com/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/jquery.cookie@1.4.1/jquery.cookie.js"></script>
    <script src="/static/ens.js"></script>
</head>

<body>
    <section id="nav" class="contrast">
        <a href="/shelf">◈</a>
        <a href="/novel/{{path}}">{{ntitle}}</a>
    </section>
    <section class="container">
        <article>
            <header>
                <h2>{{title}}</h2>
            </header>
            {% for line in content.splitlines() %}
            <p>{{line}}</p>
            {% endfor %}
        </article>
    </section>
    <section id="edge-prev" href="/chap/{{path}}/{{prev}}"></section>
    <section id="edge-next" href="/chap/{{path}}/{{next}}"></section>
    <button id="theme-switcher" class="contrast switcher"></button>
</body>
<script>dispatch()</script>