<title>{% block title %}◈ 书架{% endblock %}</title>
<head>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/classic.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/ens.js"></script>
</head>
<html>
    <section class="container">
        <article>
            {% for info in shelf.infos %}
                <a class="node" href="/novel/{{info.remote}}/{{info.nid}}">{{info.title}}</a>
            {% endfor %}
        </article>
    </section>
    <button id="theme-switcher" class="contrast switcher"></button>
</html>
<script>dispatch()</script>